.column-top-level {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#column-generate-button-top {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 200px;
  font-size: 1rem;
}

.column-accordion-and-menu {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.column-accordion-wrapper {
  overflow: auto;
  width: 80vw;
  max-height: 80vh;
  border: 1px solid gray;
  border-radius: 4px;
  z-index: 0;
  padding: 10px;
}

.MuiTypography-root.column-display-name {
  font-size: 0.97rem;
  padding: 6px;
}

.column-checkbox {
  display: flex;
  cursor: pointer;
}

.column-leaf {
  padding-left: 14.7px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.column-selected-color {
  background-color: lightblue;
}

.column-base-color {
  background-color: transparent;
}

.MuiSvgIcon-root.column-error-icon {
  font-size: 1.3rem;
  margin-right: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 6px;
}
