.column-menu {
  width: fit-content;
  height: fit-content;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}
.column-menu-label {
  display: none;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: lightblue;
}
.column-menu-content {
  display: none;
  flex-direction: column;
}
.edit-title-button {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.ShowTitlesContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
}
