.column-menu {
  width: 300px;
  height: 300px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}
.column-menu-label {
  display: none;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: lightblue;
}
.column-menu-content {
  display: none;
  flex-direction: column;
}
.edit-title-button {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.column-leaf {
  padding-left: 14.7px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.column-selected-color {
  background-color: lightblue;
}

.column-base-color {
  background-color: transparent;
}
