#Verdana {
    font-family: Verdana, Geneva, sans-serif;
}

#Arial {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#Courier {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}
