#Verdana {
    font-family: Verdana, Geneva, sans-serif;
}

#Arial {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#Courier {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

#FontMenuContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
    padding: 24px;
}

#FontRowContainer {
    display: flex;
    align-items: center;
}


#TargetInput {
    width: 180px;
}

#HeadingContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

#FontOptionsTitle {
    font-weight: bold;
    font-size: 18px;
}

#Bold {
    font-weight: bold;
}

#AdditionalFontsText {
    font-weight: bold;
    margin-bottom: 20px;
}

#CloseButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#ColorInputContainer {
    width: 150px;
    margin-right: 10px;
}

#FontFaceForm {
    width: 150px;
    margin-right: 10px;
    min-width: 80px;
}

#FontSizeInput {
    min-width: 80px;
}

@media screen and (max-width: 1080px) {
    #FontMenuContainer {
        width: 75%;
    }
}

@media screen and (max-width: 730px) {
    #FontMenuContainer {
        width: 80%;
    }

    #FontRowContainer {
        display: flex;
        flex-wrap: wrap;
    }
}
