.root-font-options {
    align-items: center;
    justify-content: center;
    display: grid;
    margin-top: 40px;
}
.root-font-description {
    text-align: center;
    margin-bottom: 10px;
}
.chart-root-not-available {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}