
.facies-buttons {
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  display: grid;
  width: 100%;
}
.header-bar {
  max-height: 250px;
  position: relative;
  padding-top: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  height: 8vh;
  z-index: 1;
  box-shadow: 1px 0px 15px rgba(0, 0, 0, 1);
}
.MuiIconButton-root.move-maps-button {
  width: 35px;
  height: 35px;
  padding-left: 35px;
  padding-right: 35px;
}
.MuiSvgIcon-root.icon-button {
  color: white;
  width: inherit;
  height: inherit;
}
.header-title {
  display: flex;
}
.divider {
  height: 0.05px;
  width: 100%; 
  background-color: rgba(197, 197, 197, 0.281); 
}
.header-icon {
  padding-top: 1px;
  padding-right: 5px;
}
.header-title-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.MuiTypography-root.map-viewer-header {
  font-size: 23px;
}
.MuiButton-root.legend-button {
  height: 30px;
  width: 90px;
  background-color: transparent;
}
.buttons {
  display: flex;
}
.age-controls {
  width: 100%;
  height: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.dot-controls {
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.slider-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}
.MuiTextField-root.dot-input-form {
  padding-right: 20px;
  width: 45px;
}
.MuiTextField-root.age-text-field {
  padding-right: 20px;
  width: 123px;
}

.slider .MuiSlider-track {
  border: none;
}

.slider .MuiSlider-thumb {
  height: 13px;
  width: 13px;
  background-color: #fff;
  border: 2px solid currentColor;
}
.MuiSlider-root.slider {
  width: 50%;
}

.slider .MuiSlider-thumb:focus,
.slider .MuiSlider-thumb:hover,
.slider .MuiSlider-thumb.Mui-active,
.slider .MuiSlider-thumb.Mui-focusVisible {
  box-shadow: inherit;
}

.slider .MuiSlider-thumb::before {
  display: none;
}

.slider .MuiSlider-valueLabel {
  line-height: 1.2;
  font-size: 12px;
  background: unset;
  width: auto;
  height: 20px;
  background-color: black;
}

.slider .MuiSlider-valueLabel::before {
  display: none;
}
@media screen and (max-width: 700px) {
.MuiSlider-root.slider {
  width: 40%;
}
  .facies-buttons {
    gap: 0px;
  }
.MuiTextField-root.dot-input-form {
  padding-right: 15px;
  padding-left: 10px;
}
.MuiTextField-root.age-text-field > .MuiInputBase-root {
  padding-right: 0;
}
.MuiInputBase-root > .MuiInputBase-input {
  padding-left: 4px;
}
.MuiTextField-root.age-text-field {
  padding-right: 20px;
  width: 70px;
}

}