.TimeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 16px;
  border: 1px solid gray;
  border-radius: 4px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}
.IntervalLabel {
  margin-bottom: 10px;
}
.MuiToggleButtonGroup-root.ToggleButtonGroup {
  margin-top: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.FormControlIntervals {
  width: 100%;
}

.SelectTop {
  margin-bottom: 10px;
  width: 100%;
}
.time-form-divider {
  margin-bottom: 20px;
}

.MuiTextField-root.UnitTextField {
  margin-bottom: 20px;
  width: 100%;
}

.SelectBase {
  margin-bottom: 10px;
  width: 100%;
}

.MuiTextField-root.VerticalScale {
  margin-bottom: 20px;
  width: 100%;
}

.Button {
  width: 100%;
  height: 75px;
  color: #ffffff;
  margin-top: "10px";
}