* { margin: 0; padding: 0; }
.body {
    overflow:hidden
}
.chart_display {
    position: sticky;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    margin-left: 1%;
    flex-wrap: wrap;
}

.button_link {
    text-decoration: none;
}
.details {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2%;
    max-width: 60%;
    min-width: 50%;
}
.options {
    display: flex;
    height: 42vh;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5%;
    justify-content: space-evenly;
    row-gap: 90%;
    column-gap: 5%;
    overflow-y: scroll;
    overflow-x: hidden;

}
.options>* {
        flex: 1 1 25%;
    }

.last-item {
  margin-right: auto;
}

.item {
    display: flex;
    width: 50%;
    height: 50%;
    flex-wrap: wrap;
}

    align-content: space-around;
    gap: 300px;
