version: "3"
services:
  tsconline:
    build: .
    restart: on-failure
    #image: tscreator/tscreator_online:v2
    env_file:
      - secrets.env
    volumes:
      - .:/code
    environment:
      - NODE_ENV=production
    networks:
      - shared_network
    command: [ "source /root/.nvm/nvm.sh && nvm use node && yarn workspaces focus -A --production && /code/entrypoint-no-build.sh" ]

networks:
  shared_network:
    external: true