version: "3"
networks:
  shared_network:
    external: true
services:
  tsconline:
    build: .
    #image: tscreator/tscreator_online:v2
    env_file: # You have to create this file yourself with a VNCPASSWORD=thepasswordyouwant
      - secrets.env
    expose:
      - 3000 # if PORT environment variable is set, use it.  If not, use 3000
        # Uncomment these if you need to view the GUI, connect browser to one of them
      - 5900
      - 5800
    ports:
      - "${BIND_ADDRESS:-127.0.0.1}:${EXTERNAL_PORT:-6000}:3000" # container accessible on localhost:6000 unless specified in .env file
      - "5900:5900"
      - "5800:5800"
    volumes:
      - .:/code
    networks:
      - shared_network

  pr-preview:
    build: .
    container_name: pr-preview_${PR_ID}
    expose:
      - 3000
    volumes:
      - .:/code
    networks:
      - shared_network