version: "3"
networks:
  shared_network:
    external: true
services:
  pr-preview-build:
    build: .
    volumes:
      - .:/code
    networks:
      - shared_network
    command: bash -c "source /root/.nvm/nvm.sh && nvm use node && yarn && yarn build"

  pr-preview-run:
    build: .
    restart: unless-stopped
    volumes:
      - .:/code
    expose:
      - "3000"
    networks:
      - shared_network
    environment:
      DISPLAY: ":99"
    command: ["/code/entrypoint-no-build.sh"]
