.map-list {
  min-height: 100vh;
  width: 100%;
}
.MuiPaper-root.map-dialog {
  max-height: none;
  overflow: hidden;
}
.no-map-points-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
}
