.view-buttons {
  position: absolute;
  left: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  gap: 10px;
}
.map-viewer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.map {
  min-width: none;
  min-height: none;
  height: 90vh;
  max-width: 90vw;
  max-height: 90vh;
}
.transect-lines {
  width: 100%;
  height: 100%;
  position: absolute;
}
.header {
  text-align: center;
}
.child-map-icon {
  width: 12px;
  height: 12px;
  margin-left: 2px;
  border: 2px solid rgb(230, 230, 0);
  background-color: transparent;
}
.child-map-icon-container {
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
}
