.crossPlotSideBar {
  display: grid;
  grid-template-columns: var(--side-bar-width) 1fr;
  grid-template-rows: 1fr;
  box-shadow: 5px 0px 10px -5px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  resize: horizontal;
  max-width: 70vw;
  width: 350px;
  min-width: 350px;
}

.tabs {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-top: 25px;
  overflow: hidden;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding: 20px;
  gap: 7px;
  cursor: pointer;
}
.tabText {
  font-size: 0.8rem;
}
.tabContent {
  overflow: auto;
  position: relative;
}

.tabContent > *:not(.generate) {
  resize: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.timeLabel,
.unitLabel {
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 140px;
}

.timeComponent {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
}

.timeIntervalForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.timeIntervalLabel {
  font-size: 0.9rem;
}

.generate {
  position: fixed;
  bottom: 10px;
  left: 5%;
  z-index: 10;
}

.markerContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 5px 0px;
}
.markerOptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}
.markersComponent {
  padding: 23px;
  width: 100%;
  height: 100%;
}
.checkBoxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.markerOptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.colorPicker {
  min-width: 20px;
  width: 20px;
  height: 20px;
  padding: 0px;
  align-self: center;
}
.topMarkerRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.selectMarker {
  width: 120px;
}
.ageMarker {
  width: 100px;
}
.depthMarker {
  width: 100px;
}
