.crossPlotSideBar {
  --generate-button-size: 175px;
  --options-bar-height: 50px;
  display: grid;
  grid-template-columns: var(--side-bar-width) 1fr;
  grid-template-rows: 1fr;
  box-shadow: 5px 0px 10px -5px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  grid-area: sidebar;
  resize: horizontal;
  max-width: 70vw;
  width: 350px;
  min-width: 350px;
}

.tabs {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-top: 25px;
  overflow: hidden;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding: 20px;
  width: 100%;
  gap: 7px;
  cursor: pointer;
}
.tabText {
  font-size: 0.8rem;
}
.tabContent {
  overflow: auto;
  position: relative;
}

.tabContent > *:not(.generate, .mobileGenerate, .convert, .mobileConvert) {
  resize: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.timeLabel,
.unitLabel {
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 140px;
}

.timeComponent {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
}

.timeIntervalForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.timeIntervalLabel {
  font-size: 0.9rem;
}

.generate {
  position: fixed;
  bottom: 10px;
  left: 5%;
  z-index: 10;
}
.convert {
  position: fixed;
  bottom: 10px;
  left: calc(5% + var(--generate-button-size) + 10px);
  z-index: 10;
}

.markerContainer,
.modelContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 5px 0px;
}
.markersComponent,
.modelsComponent {
  padding: 23px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.modelsContainer,
.markersContainer {
  display: grid;
  grid-template-rows: var(--options-bar-height) calc(100% - var(--options-bar-height));
  height: 100%;
  grid-template-columns: 100%;
  overflow: hidden;
}
.checkBoxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.markerOptions,
.modelOptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 10px;
}
.colorPicker {
  min-width: 20px;
  width: 20px;
  height: 20px;
  padding: 0px;
  align-self: center;
}
.topMarkerRow,
.topModelRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 1fr;
  gap: 12px;
}
.optionsBar {
  padding: 0px 33px;
  overflow: hidden;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.delete {
  cursor: pointer;
}
.deleteIcon {
  width: 20px;
  height: 20px;
}
/* Mobile */
.mobileCrossPlotSideBar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr var(--side-bar-width);
  box-shadow: 5px 0px 10px -5px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  grid-area: sidebar;
  grid-template-areas: "content" "tabs";
  resize: vertical;
  max-width: 100%;
  width: 100%;
  max-height: 50vh;
  height: 350px;
  min-height: 350px;
}
.mobileGenerate {
  position: fixed;
  bottom: calc(var(--side-bar-width) + 10px);
  right: 5%;
  z-index: 10;
}
.mobileConvert {
  position: fixed;
  bottom: calc(var(--side-bar-width) + 10px);
  right: calc(5% + var(--generate-button-size) + 10px);
  z-index: 10;
}

.mobileTabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  grid-area: tabs;
}
.mobileTabContent > *:not(.generate, .mobileGenerate, .convert, .mobileConvert) {
  resize: none;
  width: 100%;
  height: 100%;
  max-width: 100%;
  border: none;
  background-color: transparent;
}
.mobileTabContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  overflow: auto;
  grid-area: content;
}

.noMarkersText,
.noModelsText {
  align-self: center;
  text-align: center;
  justify-self: center;
}
