.date-time-picker .MuiPickersYear-yearButton {
  font-size: 1rem;
}

.date-time-picker .Mui-disabled,
.date-time-picker .MuiPickersDay-root.Mui-disabled {
  color: darkgray;
}

.datapack-buttons {
  flex: 0 0 auto;
}

.datapack-select {
  min-width: 35ch;
}
