.avatar-box-shadow {
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.5));
  transition: filter 0.3s ease;
}
.MuiAvatar-root.avatar-logo {
  transition: 0.3s;
  width: 100px;
  height: 100px;
  border-radius: 1rem;
  box-shadow: none;
}
.front-card {
  position: relative;
  border-radius: 1rem;
  min-width: 350px;
  padding-top: 160px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.back-card {
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  width: 350px;
  height: 364px;
}
.back-background {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.back-card:hover .info-title {
  transition: 0.5s;
  transform: scale(1.05);
}
.front-card:hover .MuiAvatar-root {
  transform: scale(1.1);
  filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.75));
}
.front-card-content {
  padding: 1rem;
}
.clip-path {
  clip-path: polygon(
    -2% 102%,
    -2% 35%,
    0.3% 33%,
    1% 31%,
    1.5% 30%,
    2% 29%,
    2.5% 28.4%,
    3% 27.9%,
    3.3% 27.6%,
    5% 27%,
    95% 0%,
    102% 0%,
    102% 102%
  );
}
.card-title {
  font-weight: 700;
  font-size: 1.15rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  max-height: 2.8em;
  white-space: normal;
}
.card-media-cover {
  border-radius: 1rem;
  position: absolute;
  width: 100%;
  height: 98%;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.08);
  background-position: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.card-content {
  position: relative;
  z-index: 1;
  border-radius: 1rem;
}
.card-background {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.info-title {
  align-self: center;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 1.15rem;
  padding: 10px;
}
.MuiCardMedia-root.info-media {
  width: 350px;
  height: 100px;
}
.date {
  color: #fff;
  opacity: 0.72;
  font-size: 0.75rem;
  padding: 0 0.5rem;
  border-radius: 12px;
}
.MuiGrid-root.info-grid {
  margin-top: 0px;
}
.info-container .simplebar-content {
  display: flex;
  position: relative;
  flex-direction: column;
}
.MuiTypography-root.info-description {
  padding-left: 12px;
  white-space: pre-wrap;
  padding-right: 20px;
}
.add-buttons {
  position: absolute;
  top: 10px;
  left: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  gap: 10px;
}
.overlay-buttons {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  gap: 10px;
}
.MuiSvgIcon-root.add-icon {
  color: white;
  width: inherit;
  height: inherit;
}
.MuiIconButton-root.icon-button {
  width: 35px;
  height: 35px;
}
.MuiIconButton-root.add-button {
  width: 45px;
  height: 45px;
  padding: 0;
  margin: 0;
}
.info-text-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding-left: 20px;
}
.MuiList-root.list {
  padding: 0;
  padding-left: 12px;
  padding-bottom: 20px;
}
.MuiListItem-root.list-item {
  margin: 0;
  padding: 0;
}
.MuiListItemText-root.list-item-text {
  margin: 0;
  padding-left: 12px;
}
