.card {
    width: 234px;
    height: 320px;
    border-radius: 10%;
}
.header {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    text-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    word-break: break-all;
    margin-right: 10px;
    line-height: 1.5em;
    height: 3em;
    font-weight: 600;
}

.description {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    text-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    word-break: break-all;
    font-size: 0.8rem;
    height: 4.5em;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 5px;
}

.other {
    margin: -1px -8px 0 0;
}
 .more {
 transform: scale(var(--ggs,1))
}

.more,
.more::after,
.more::before {
 box-sizing: border-box;
 position: relative;
 display: block;
 width: 4px;
 height: 4px;
 background: currentColor;
 border-radius: 100%
}

.more::after,
.more::before {
 content: "";
 position: absolute
}

.more::after {
 left: 0;
 top: 6px
}

.more::before {
 top: -6px;
 right: 0
} 