.generic-text-field-header {
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.generic-text-field-helper-text.generic-text-field-helper-text-start {
  text-align: left;
}
.generic-text-field-helper-text.generic-text-field-helper-text-end {
  text-align: right;
}

.generic-text-field-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.generic-text-field-container-start {
  align-items: flex-start;
}
.generic-text-field-container-end {
  align-items: flex-end;
}

.generic-text-form {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.generic-text-field-helper-text {
  text-align: center;
  font-size: 0.7rem;
}

.generic-text-fields {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.generic-color-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.rgb-modifier-container {
  display: flex;
  flex-direction: row;
  height: min-content;
}

.color-picker-rgb-modifier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-picker-rgb-modifier-container {
  display: flex;
  gap: 20px;
}
