.controls {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.map {
  height: 450px;
  width: auto;
}
.MuiButton-root.zoom-button {
  height: 20px;
  width: 100px;
  margin: 5px;
}
.MuiButton-root.map-point {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  /* background-color: red; */
}
.MuiButton-root.map-point:hover {
  /* background-color: red; */
  opacity: 0.6;
}
.tooltip {
  z-index: 1;
}
.header {
  text-align: center;
}
