.tsc-dialog .MuiDialog-paper {
  border: 2px solid black;
}

.tsc-dialog .MuiDialog-paper .MuiDialogContent-root {
  padding-bottom: 8px;
}

.tsc-dialog .MuiDialog-paper .MuiDialogActions-root {
  justify-content: center;
  padding: 0 24px 8px;
}

.tsc-dialog .MuiDialogActions-root .tsc-button {
  min-width: 120px;
  margin: 0px 6px 8px 8px;
  border: 2px solid black;
  max-height: 35px;
}

#yes-no-dialog-title {
  text-align: center;
}
