.radio-label-information {
  display: flex;
  align-items: center;
}

.radio-img-label {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.clear-button-radio-group-container {
  display: flex;
  justify-content: end;
}

.clear-button-tsc-radio-group {
  width: fit-content;
}

.clear-button-radio-group-typography {
  font-size: 12px;
}

.radio-form-label {
  margin: 0px;
}
