.switch-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.custom-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.custom-switch-small {
  scale: 0.7;
}
.custom-switch-medium {
  scale: 0.85;
}
.custom-switch-large {
  scale: 1;
}

.switch-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999999;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.switch-button:before {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.switch-checkbox:checked + .switch-button {
  background-color: #4caf50;
}

.switch-checkbox:checked + .switch-button:before {
  transform: translateX(26px);
}
