.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.dot {
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
