:root {
  --input-label: #d3d3d3;
}
.white-outlined-form .MuiTextField-root {
  color: var(--input-label);
}

.white-outlined-form .MuiInputLabel-root {
  color: var(--input-label);
}

.white-outlined-form .MuiInputLabel-root.Mui-focused {
  color: var(--input-label);
}

.white-outlined-form .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--input-label);
}
.white-outlined-form .MuiOutlinedInput-root .MuiInputBase-input {
  color: var(--input-label);
}

.white-outlined-form .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: var(--input-label);
}

.white-outlined-form .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: var(--input-label);
}

.white-outlined-form .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--input-label);
}

.white-outlined-form .MuiFormHelperText-root {
  color: var(--input-label);
}
