.body {
    overflow:hidden
}
.chart_display {
    position: sticky;
    display: flex;
    flex-direction: row;
}

.button_link {
    text-decoration: none;
}
.details {
    display: flex;
    flex-direction: column;
}
.options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-between;
    row-gap: 400px;
    column-gap: 140px;
    overflow-y: scroll;
    overflow-x: hidden;

}
.options>* {
        flex: 1 1 240px;
    }

.last-item {
  margin-right: auto;
}

.item {
    width: 5px;
    height: 5px;
}

    align-content: space-around;
    gap: 300px;
