.MuiAlert-filled.snackbar {
  align-items: center;
  /*width: 100%;*/
}

.MuiAlert-root.snackbar .MuiAlert-icon {
  display: flex;
  align-items: center;
}

.MuiAlert-root.snackbar .MuiAlert-message {
  display: flex;
  align-items: center;
  flex-grow: 1;
}