.MuiAlert-filled.alert {
  align-items: center;
  width: 100%;
}
.MuiAlert-root.alert .MuiAlert-icon {
  display: flex;
  align-items: center;
}
.MuiAlert-root.alert .MuiAlert-message {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
