.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 92vh;
  width: 100%;
  gap: 2px;
}

.svg-style {
  width: 200px;
  height: 200px;
  display: block;
  grid-row: 2;
}

.loading {
  font-size: 30px;
  color: black;
  padding: 8px;
  border-radius: 4px;
  line-height: 1;
  grid-row: 3;
}
.loading-sub {
  font-size: 14px;
  color: black;
  padding: 8px;
  border-radius: 4px;
  line-height: 1;
  grid-row: 4;
}

.timeline-button {
  color: red;
}
