.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 2px;
}

.svg-style {
  width: 200px;
  height: 200px;
  display: block;
  grid-row: 2;
}

.loading {
  font-size: 30px;
  padding: 8px;
  border-radius: 4px;
  line-height: 1;
  grid-row: 3;
  font-weight: 600;
}
.loading-sub {
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
  line-height: 1;
  grid-row: 4;
}
.chart-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--nav-bar-height));
  overflow: hidden;
}
.chart-back-form-control-label + .chart-tab {
  height: calc(100vh - var(--nav-bar-height) - 66.4px); /* 66.4px is the height of the form control label */
}

.chart-and-options-bar {
  display: grid;
  grid-template-rows: 40px 1fr;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.options-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  min-width: 0;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.chart-download-button {
  align-items: flex-end;
}
.chart-container {
  grid-area: chart;
  height: 100%;
  width: 100%;
}

#chart-transform-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.chart-back-arrow-button {
  width: 20px;
  height: 20px;
  padding: 0px;
}
.chart-back-form-control-label {
  margin: 0;
  padding: 10px 20px;
  gap: 10px;
}
.chart-back-form-control-label > .MuiTypography-root {
  font-size: 1.1em;
}

.floating-history-button {
  position: fixed;
  left: 0;
  top: 50%;
  width: 40px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  z-index: 1000;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.history-entry-summary > .MuiAccordionSummary-expandIconWrapper.Mui-expanded {
  transform: rotate(90deg);
  display: flex;
  order: -1;
}
.history-entry-summary > .MuiAccordionSummary-expandIconWrapper {
  order: -1;
}
.Mui-focusVisible.history-entry-summary,
.history-entry-summary:focus-visible {
  outline: none;
  background-color: rgba(171, 171, 171, 0.1);
}
.history-entry-summary > .MuiAccordionSummary-content.Mui-expanded {
  padding: 0;
  margin: 0;
}
.history-entry-accordion.Mui-expanded {
  margin: 0;
  padding: 0;
}
.history-entry-accordion:not(:last-child) {
  border-bottom: 0;
}
.history-entry-accordion:before {
  display: none;
}
.history-entry-accordion:last-child {
  padding-bottom: 10px;
}
.history-entry-summary {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 70px;
  height: 70px;
  gap: 20px;
  width: 100%;
}
.history-entry-details {
  padding: 0 0 0 19px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.history-entry-svg-display {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.history-divider {
  width: 70%;
}

.history-entry-summary-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.history-entry-summary-display-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 15px;
}
.history-entry-summary:hover
  > .MuiAccordionSummary-content
  > .history-entry-summary-container
  > .history-entry-summary-delete-button,
.history-entry-summary
  > .MuiAccordionSummary-content.Mui-expanded
  > .history-entry-summary-container
  > .history-entry-summary-delete-button {
  display: block;
}
.history-entry-summary-delete-button {
  display: none;
}

.timeline-line {
  position: absolute;
  top: 8px;
  left: 4px;
  width: 2px;
  height: calc(100% + 10px);
  background-color: gray;
  z-index: 1;
}

.timeline-dot {
  margin-top: 8px;
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  margin-right: 12px;
}
