.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 92vh;
  width: 100%;
  gap: 2px;
}

.svg-style {
  width: 200px;
  height: 200px;
  display: block;
  grid-row: 2;
}

.loading {
  font-size: 30px;
  padding: 8px;
  border-radius: 4px;
  line-height: 1;
  grid-row: 3;
  font-weight: 600;
}
.loading-sub {
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
  line-height: 1;
  grid-row: 4;
}

.timeline-button {
  color: red;
}
.chart-and-options-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: "auto";
}
.options-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

