.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: lightgray;
  }
  
  .datapackContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .datapack {
    display: flex;
    align-items: center;
    margin: 10px;
    position: relative;
    cursor: pointer;
  }
  
  .datapackName {
    margin-left: 10px;
  }
  
  .popUpBox {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  