* {
  margin: 0;
  padding: 0;
}
.body {
  min-height: 88vh;
}
.whole_page {
  position: sticky;
  width: 100%;
  min-height: 100vh;
}
.chart {
  width: 100%;
  height: 100%;
}
.details {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2%;
  max-width: 60%;
  min-width: 50%;
  width: 100%;
  flex-wrap: wrap;
}
.description {
  margin-left: 10%;
  margin-right: 5%;
  padding: 2%;
}

.bottom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.MuiTypography-root.preset-type-title {
  font-size: 1.5rem;
}
