* {
  margin: 0;
  padding: 0;
}
.body {
  min-height: 88vh;
}
.whole_page {
  position: sticky;
  width: 100%;
  min-height: 100vh;
}
.top_box {
  position: sticky;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.chart_display {
  position: sticky;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  padding: 1%;
  flex-wrap: wrap;
}
.holds_picture {
  width: 325px;
  height: 235px;
  display: flex;
}
.MuiGrid-root.presets {
  display: flex;
  flex-wrap: nowrap;
  width: auto;
  padding-bottom: 9vh;
  padding-top: 40px;
}
.MuiGrid-root.preset-item {
  margin-right: 16px;
  margin-left: 16px;
}
.chart {
  width: 100%;
  height: 100%;
}
.details {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2%;
  max-width: 60%;
  min-width: 50%;
  width: 100%;
  flex-wrap: wrap;
}
.preset_name {
  margin-left: 10%;
  margin-right: 5%;
  padding: 2%;
}
.description {
  margin-left: 10%;
  margin-right: 5%;
  padding: 2%;
}

.MuiButton-root.info-button {
  margin-left: auto;
  margin-right: auto;
  width: 325px;
  height: 75px;
}

.bottom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.MuiButton-root.remove-cache-button {
  display: flex;
  justify-content: center;
  align-items: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
}

.MuiFormControlLabel-root.checkbox {
  margin-left: 30%;
  margin-top: 30px;
}
.MuiAccordion-root.Mui-expanded.preset-highlight,
.MuiAccordion-root.preset-highlight {
  background: transparent;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 4px;
  overflow: hidden;
}
.MuiAccordionSummary-root.preset-summary {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.04);
}
.MuiTypography-root.preset-type-title {
  font-size: 1.5rem;
}
