.login-box {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.grid-container {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.divider-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem 0;
}
.divider-line {
  flex: 1;
  height: 1px;
  background-color: black;
}
.account-form {
  width: 100%;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
