.navbar {
  display: flex;
  justify-content: flex-start;
}
.nabvar div:last-child {
  margin-left: auto;
}
.MuiTab-root.tab-space {
  margin-right: 10%;
}
.login-tab .MuiTab-iconWrapper {
  margin-bottom: 0px;
}
