.navbar {
  display: flex;
  justify-content: flex-start;
}
.nabvar div:last-child {
  margin-left: auto;
}
.MuiTab-root.tab-space {
  margin-right: 10%;
}
.login-tab {
  flex-direction: row;
  font-size: 1rem;
}
.login-tab .MuiTab-iconWrapper {
  margin-bottom: 0px;
}
.szh-menu-container.settings-sub-menu > .szh-menu {
  min-width: 130px;
}
.settings-sub-menu-item {
  justify-content: center;
}

.nav-bar-menu-mobile {
  width: 200px;
  justify-content: center;
  align-items: center;
}
.nav-bar-menu-list-item {
  padding-left: 0px;
  padding-right: 0px;
}
.lanuage-txt-break .MuiMenuItem-root {
  display: flex;
  justify-content: center;
}
.language-divider-settings-sub-menu {
  background-color: #8d99ae !important;
}
.nav-bar {
  height: var(--nav-bar-height);
}
