.navbar {
  display: flex;
  justify-content: flex-start;
}
.nabvar div:last-child {
  margin-left: auto;
}
.MuiTab-root.tab-space {
  margin-right: 10%;
}
.login-tab {
  flex-direction: row;
  font-size: 1rem;
}
.login-tab .MuiTab-iconWrapper {
  margin-bottom: 0px;
}
.settings-sub-menu-item {
  justify-content: center;
}
.szh-menu-container.settings-sub-menu > .szh-menu {
  min-width: 130px;
}
