.badge {
  width: 30px;
  height: 30px;
  border: 2px solid #188de6;
  background-color: #353639;
}
.pencil {
  color: gainsboro;
  transition: color 0.3s;
}
.editable-profile-picture {
  width: 75px;
  height: 75px;
  cursor: pointer;
}
.editable-profile-picture::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s;
}
.editable-profile-picture:hover::after {
  opacity: 1;
}
.editable-profile-picture:hover + .MuiBadge-badge .badge .pencil {
  color: #188de6;
}
