.header {
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-event-label {
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1em;
  margin: 1px;
  min-width: auto;
}

.rbc-label {
  font-size: 0.8rem;
}

.rbc-timeslot-group {
  border-bottom: 1px solid dimgrey !important; /* Vertical lines */
}

.rbc-day-slot {
  border-right: 1px solid dimgrey !important;
}

.rbc-time-slot {
  border-top: 1px solid dimgrey !important; /* Horizontal lines */
}

.rbc-custom-event {
  cursor: pointer;
  transition: background-color 0.1s;
  width: 100%;
  border-radius: 3px;
  opacity: 0.85;
  color: white;
}

.calendar-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.calendar-toolbar-customization {
  display: flex;
  align-items: center;
  gap: 2;
  flex-grow: 1;
  min-width: 200px;
}

.calendar-toolbar-navigation {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rbc-row-segment {
  padding: 0;
}

.rbc-events-container {
  width: 100%;
}

.rbc-day-slot .rbc-tim-slot:after {
  border-top: 10px solid black;
  width: 100%;
}

.rbc-month-view {
  display: flex !important;
  min-height: 426px !important;
}

.rbc-time-content {
  display: flex !important;
  max-height: 500px !important;
}

.rbc-events-container {
  display: flex !important;
  flex-grow: 1 !important;
}

.rbc-toolbar {
  display: "flex";
  align-items: "center";
  justify-content: "space-between";
  position: "relative";
  gap: "10px";
}

.MuiAccordionSummary-root.workshops-summary {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.04);
}

.description-header {
  text-align: center;
  font-weight: bold;
}

.not-logged-in-message {
  font-size: 24px;
  text-align: center;
  margin-top: 20%;
}

.no-data-message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.workshop-card {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
}
