.header {
  font-size: 2rem;
  text-align: center;
}

.rbc-calendar {
  display: flex;
  min-height: 500px;
}

.rbc-event {
  display: flex;
  align-items: center;
  height: 100%;
}

.rbc-row {
  height: 22px;
}

.rbc-toolbar * {
  border: 0px !important;
}

.MuiAccordionSummary-root.workshops-summary {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.04);
}

.description-header {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
}

.not-logged-in-message {
  font-size: 24px;
  text-align: center;
  margin-top: 20%;
}

.no-data-message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.workshop-card {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
}
