.MuiTypography-root.upload-datapack-header {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
  align-self: center;
}
.datapack-upload-form-container {
  width: 70vw;
  height: 70vh;
}
.add-reference-plus-button {
  width: 15px;
  height: 15px;
}
.add-reference-button {
  display: flex;
  align-self: flex-start;
  height: 30px;
  width: auto;
  font-size: 12px;
}
.additional-options-upload-form {
  background-color: transparent;
  box-shadow: none;
}
.additional-options-upload-form::before {
  display: none;
}
.close-upload-form {
  position: absolute;
  left: calc(100% - 40px);
  top: 5px;
  display: flex;
}

.file-upload {
  margin: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
