.rc {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  container-type: size;
  line-height: 1.2rem;
  border-radius: 10px;
  margin: 1px 0;
}
.cc {
  display: flex;
  align-content: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 3px;
  flex-wrap: wrap;
  cursor: pointer;
  min-width: 34px;
  transition: background-color 0.3s;
}
.loading {
  background-color: rgba(0, 0, 0, 0.068) !important;
}
.right {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.header {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  text-align: left;
}
.image {
  align-self: center;
  justify-content: center;
  margin: 0px 5px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 15%;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}
.image,
.right {
  cursor: pointer;
}
