.datapack-upload-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.MuiTypography-root.upload-datapack-header {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
  align-self: center;
}

.clear-upload-tags-button {
  color: gray;
  font-size: 12px;
  justify-self: flex-end;
  align-self: flex-end;
  margin: 0px;
  padding: 0px 10px;
}

.tag-ref-scrollbar {
  max-height: 116px;
}

.MuiTextField-root.datapack-name-input > .MuiInputLabel-root,
.MuiTextField-root.datapack-description-input > .MuiInputLabel-root {
  color: gray;
}

.close-upload-form {
  position: absolute;
  left: calc(100% - 40px);
  top: 5px;
  display: flex;
}

.MuiIconButton-root.icon {
  width: 35px;
  height: 35px;
}

.MuiSvgIcon-root.close-icon {
  border-radius: 50%;
  object-fit: contain;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.file-upload,
.file-upload-button {
  margin: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.file-upload {
  margin-top: 30px;
}
