.popup-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 30%;
  max-width: 60%;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
  padding: 24px;
  max-height: 80%;
  overflow: auto;
  align-items: start;
}
.MuiSvgIcon-root.exit-button-icon-point-settings {
  padding: 0px;
  margin: 0px;
}
.exit-button-point-settings {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
}
.point-shape-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.point-shape-radio-group {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.advanced-settings-header {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.point-settings-adjustment-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.point-settings-gradient-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
