.point-shape-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.point-shape-radio-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}
.advanced-settings-header {
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: center;
  font-size: 1.2rem;
  font-weight: 600;
}
.point-header-subsection {
  flex: 0 0 50px;
}

.point-settings-content-container {
  display: flex;
  overflow: hidden;
  height: calc(100% - 50px);
  flex: 1;
}
.point-settings-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.draw-buttons-and-point-shape-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.point-range-settings-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.point-range-settings-container .MuiIconButton-root {
  padding: 5px;
}

.point-range-settings-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.point-range-settings-header {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.point-scale-settings {
  gap: 0px;
}

.draw-point-scale-checkboxes {
  flex-direction: column;
}

.point-settings-adjustment-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.point-settings-gradient-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.flip-button-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  transform: scale(var(--ggs, 0.8));
  background: linear-gradient(to left, currentColor 22px, transparent 0) no-repeat center/2px 22px;
}
.flip-button-icon::after,
.flip-button-icon::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 14px;
  border: 2px solid;
  top: 2px;
}
.flip-button-icon::before {
  border-right: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.flip-button-icon::after {
  opacity: 0.5;
  border-left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  right: 0;
}
.auto-button-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 0.8));
  width: 14px;
  height: 14px;
  border: 2px solid;
  border-left-color: transparent;
  border-radius: 100px;
}
.auto-button-icon::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-top: 2px solid;
  border-left: 2px solid;
  top: -3px;
  left: -1px;
  transform: rotate(-68deg);
}
