.column-menu {
  width: fit-content;
  height: fit-content;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}
.column-menu-label {
  display: none;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: lightblue;
}
.column-menu-header {
  display: flex;
  flex-direction: row;
  width: 20vw;
}
.column-settings-cog {
  background-color: lightgray;
}
.column-menu-content {
  display: none;
  flex-direction: column;
}
.ShowTitlesContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
}

.accordion-position-controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.lightgray-square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: lightgray;
  margin: 0 5px;
  border-radius: 5px;
}

.custom-icon-button {
  background-color: transparent;
  border: none;
  padding-left: 17px;
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px; /* Match the border-radius of the parent */
}
