.column-top-level-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#column-generate-button-top {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 200px;
  font-size: 1rem;
}

.column-search-bar {
  width: 400px;
}

#column-search-term {
  margin-bottom: 10px;
}

.column-search-bar-container {
  margin-top: 10px;
  align-items: center;
  margin-bottom: 5px;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

.column-accordion-and-menu-container {
  display: flex;
  justify-content: start;
  width: auto;
  height: 78vh;
  padding-top: 10px;
  flex-grow: 1;
}

.column-accordion-wrapper {
  width: 500px;
  max-height: 80vh;
  border: 1px solid lightgray;
  overflow: auto;
  border-radius: 4px;
  z-index: 0;
  padding-left: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.column-selected-color {
  background-color: lightblue;
}

.column-base-color {
  background-color: transparent;
}

.MuiSvgIcon-root.column-error-icon {
  width: 20px;
  height: 20px;
}

.filtered-border {
  border: 1px solid lightcoral;
}

.column-top-level .MuiTypography-root {
  margin: 10;
}

.column-checkbox,
.MuiSvgIcon-root.column-error-icon {
  margin: 0 9px 0 0px;
  padding: 0px;
}
.column-accordion-details {
  padding: 0 0 0 12px;
}
.accordion-line {
  position: absolute;
  left: 8px;
  top: 30px;
  bottom: 0;
  width: 1px;
  opacity: 0;
  background-color: #ccc;
  z-index: 1;
  transition: opacity 0.2s ease;
}
.column-accordion-wrapper:hover .accordion-line {
  opacity: 100;
}
.column-accordion-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.column-filter-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.column-accordion {
  width: 100%;
  padding: 0;
  margin: 0;
}

.MuiIconButton-root.expand-collapse-column-buttons {
  width: 30px;
  height: 30px;
  padding: 2px;
}

.column-accordion-summary {
  padding-left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 0px;
  min-height: 30px;
  width: 100%;
}

.MuiTypography-root.column-display-name {
  font-size: 0.97rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.column-accordion-summary > .MuiAccordionSummary-expandIconWrapper.Mui-expanded {
  transform: rotate(90deg);
  display: flex;
  order: -1;
}

.column-accordion-summary > .MuiAccordionSummary-expandIconWrapper {
  margin-right: 5px;
  margin-left: 4px;
}

.column-leaf {
  margin-left: 23.2px;
}

.column-accordion-summary > .MuiAccordionSummary-content {
  order: 2;
  flex-grow: 1;
  align-items: center;
  margin: 0;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
}
.column-row-container {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
/* has to be two classes to hover highlight the expand icon */
.column-accordion-summary:hover,
.column-leaf-row-container:hover {
  transition: background-color 0.05s;
  background-color: #e0eaf9;
}
.Mui-focusVisible.column-accordion-summary,
.column-accordion-summary:focus-visible,
.column-leaf-row-container:focus-visible {
  outline: none;
  background-color: #e0eaf9;
}
.search-filter-helper-text {
  height: 10px;
  width: 400px;
  display: flex;
  white-space: nowrap;
}

.selected-column {
  background-color: #d1e1f6 !important;
  position: relative;
}
/* highlight the selected column */
.selected-column::before {
  content: "";
  position: absolute;
  top: 0;
  left: -4px;
  z-index: 1;
  width: 1px;
  height: 100%;
  background-color: #88afe6;
}

/* highlight on focus */
.selected-column:focus::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #88afe685;
  border-right: none;
  pointer-events: none;
  transition: border-color 0.2s;
}

.selected-column:focus::after,
.column-accordion-summary,
.column-leaf-row-container {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
