.column-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}
.settings-header-divider {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}
.column-menu-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.column-menu-header {
  display: flex;
  flex-direction: row;
  width: 20vw;
}
.column-menu-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 10px;
  gap: 10px;
  width: 100%;
  border: 1px solid lightgray;
  min-height: 78vh;
}
.ShowTitlesContainer {
  flex-direction: row;
  margin-top: 10px;
  margin-left: 10px;
}

.accordion-position-controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.lightgray-square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: lightgray;
  margin: 0 5px;
  border-radius: 5px;
}

.custom-icon-button {
  background-color: transparent;
  border: none;
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.column-advanced-controls {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.column-menu-content-container {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 100%;
}
.column-menu-tabs {
  padding: 10px;
  width: 100px;
}
.column-menu-tab {
  min-width: 0;
  white-space: wrap;
}

.column-menu-custom-tabs {
  padding: 10px;
}
