#Verdana {
  font-family: Verdana, Geneva, sans-serif;
}

#Arial {
  font-family:
    Arial,
    Helvetica Neue,
    Helvetica,
    sans-serif;
}

#Courier {
  font-family:
    Courier New,
    Courier,
    Lucida Sans Typewriter,
    Lucida Typewriter,
    monospace;
}

#FontMenuContainer {
  padding-left: 10px;
  padding-top: 10px;
  width: 100%;
  overflow: auto;
  display: inline-block;
}

#FontRowContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.font-checkbox {
  width: 100px;
}
.font-checkbox > .MuiTypography-root {
  font-size: 0.8rem;
}

.MuiTextField-root.font-size-container {
  width: 60px;
  margin-right: 10px;
  min-width: 50px;
}
.font-size-container > .MuiInputBase-root > .MuiInputBase-input {
  font-size: 0.8rem;
  height: 17px;
}

.font-family-select {
  width: 105px;
  height: 34px;
}

#HeadingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

#FontOptionsTitle {
  font-weight: bold;
  font-size: 18px;
}

#Bold {
  font-weight: bold;
}

.change-font-header {
  font-size: 0.9rem;
  font-weight: 600;
  padding-bottom: 5px;;
}

#AdditionalFontsText {
  font-weight: bold;
  margin-bottom: 20px;
}

#CloseButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#ColorInputContainer {
  margin-right: 10px;
}

#LeafColumnGridContainer {
  width: auto;
}

#FontFaceForm {
  margin-right: 10px;
}

.text-format-icon-svg {
  width: 17px;
  height: 17px;
}

.text-format-toggle-button {
  padding: 5px;
}
.font-menu-header{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

@media screen and (max-width: 982px) {
  #FontRowContainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
  }
  .font-menu-header{
    font-size: 0.9rem;
  }
}
