.column-popup-container {
  margin-top: 30px;
}
.column-popup-box {
  width: 70%;
  border: black solid 1px;
  border-radius: 5px;
  margin-top: 5px;
  padding: 4px;
  max-height: 210px;
}

.scroll-bar {
  max-height: 200px;
}
