.MuiButton-root.load-settings-button {
  font-size: 14px; /* Adjust the font size as needed */
  padding: 8px 16px; /* Adjust padding for button size */
  margin: 0;
  color: #ffffff; /* Text color */
  background-color: #5e9ad3; /* Background color - green */
  border: none; /* Optional: remove border */
  border-radius: 4px; /* Optional: add border radius */
}

.MuiButton-root.load-settings-button:hover {
  background-color: #457ec4; /* Background color on hover - darker green */
}
