.MuiTableCell-body {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 0;
  border: 0;
}
.MuiTableCell-root.event-group-identifier {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.MuiTableCell-root.event-group-header-text {
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: 600;
}

.event-group-identifier-text {
  font-weight: 600;
}

.search-result-age-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.table-container {
  min-height: 65vh;
  min-width: 45vw;
  height: 65vh;
  margin-top: 2vh;
  resize: both;
  overflow: auto;
}

.events-search-results-table {
  height: 100%;
  width: 100%;
}

.search-result-age-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-result-age-icon {
  width: 30%;
  display: flex;
  justify-content: right;
  margin-right: 10px;
}
.search-result-age-text {
  width: 40%;
}
.search-result-age-buttons {
  width: 30%;
  display: flex;
  justify-content: left;
  margin-left: 10px;
}

.search-result-column-container {
  width: 8vw;
  display: flex;
  flex-direction: row;
}

.search-result-column-container:hover {
  cursor: pointer;
}

.search-result-info-container {
  min-width: 15vw;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
  max-height: 210px;
}

.scroll-bar {
  max-height: 200px;
}
.search-result-info a:visited {
  color: blueviolet;
}
