.MuiButton-root.save-settings-button {
  font-size: 14px;
  padding: 8px 16px;
  margin: 0;
  color: #ffffff;
  background-color: #5e9ad3;
  border: none;
  border-radius: 4px;
}

.MuiButton-root.save-settings-button:hover {
  background-color: #457ec4;
}
