.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}
.search-and-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2vw;
}

.search-time-display-container {
  min-width: 10vw;
  padding-left: 20px;
}

.search-time-display-ages-container {
  margin: auto;
  position: relative;
}

.time-display-resize-wrapper {
  resize: both;
  overflow: auto;
  position: absolute;
  min-height: 20px;
  max-height: 70px;
  min-width: 100px;
}

.search-time-display-ages {
  display: flex;
  flex-direction: row;
  text-overflow: ellipsis;
}

@media screen and (max-width: 440px) {
  .search-time-display-ages {
    flex-direction: column;
  }
  .time-display-resize-wrapper {
    max-height: 20px;
  }
}
