.settings-search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.search-and-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}

.settings-search-bar {
  width: 100%;
}

.search-time-display-container {
}
.search-time-display-first-header {
  padding: 0;
}
.search-time-display-second-header {
  top: 26px;
  padding: 0 16px;
}

.search-header-container {
  display: grid;
  width: 100%;
  grid-template-columns: minmax(900px, 1fr) 1fr;
}

@media screen and (max-width: 440px) {
  .search-header-container {
    flex-direction: column;
  }
}
