.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}
.search-and-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2vw;
}
