.time-settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* top | left and right | bottom */
  margin: 10px auto 10px;
  width: 100%;
  gap: 15px;
}
.time-settings-container > * {
  width: 100%;
}
.time-settings-age-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.IntervalLabel {
  margin-bottom: 2px;
  padding-left: 10px;
  padding-bottom: 5px;
}
.MuiToggleButtonGroup-root.TimeToggleButtonGroup {
  margin-top: 10px;
  align-self: flex-start;
}
.FormControlIntervals {
  width: 100%;
}
.SelectTop {
  margin-bottom: 10px;
  width: 100%;
}
.time-form-divider {
  margin-bottom: 15px;
}
.MuiTextField-root.UnitTextField {
  margin-bottom: 10px;
  width: 100%;
}
.SelectBase {
  margin-bottom: 10px;
  width: 100%;
}
.MuiTextField-root.VerticalScale {
  margin-bottom: 10px;
  width: 100%;
}
.Button {
  width: 100%;
  height: 75px;
  color: #ffffff;
  margin-top: "10px";
}
.generate-button {
  width: auto;
  height: auto;
  font-size: 0.85rem;
}
.generate-button-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.time-settings-header-and-settings {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: minmax(0, 700px);
  width: 100%;
}
.time-unit-settings-header {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .time-settings-container {
    flex-direction: column;
  }
  .time-settings-container > * {
    max-width: 100%;
  }
  .time-settings-age-container {
    margin: 20px 20px 0px 20px;
    width: 100%;
  }
}
