.time-settings-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 20px;
}
.time-settings-container > * {
  flex: 1;
  max-width: 50%;
}
.time-settings-age-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  max-width: 600px;
  margin: 20px 0px 20px 20px;
}
.IntervalLabel {
  margin-bottom: 2px;
}
.MuiToggleButtonGroup-root.ToggleButtonGroup {
  margin-top: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.FormControlIntervals {
  width: 100%;
}

.SelectTop {
  margin-bottom: 10px;
  width: 100%;
}
.time-form-divider {
  margin-bottom: 15px;
}

.MuiTextField-root.UnitTextField {
  margin-bottom: 10px;
  width: 100%;
}

.SelectBase {
  margin-bottom: 10px;
  width: 100%;
}

.MuiTextField-root.VerticalScale {
  margin-bottom: 20px;
  width: 100%;
}

.Button {
  width: 100%;
  height: 75px;
  color: #ffffff;
  margin-top: "10px";
}

.time-settings-checkbox {
  padding-top: 7px;
  padding-bottom: 7px;
}
.time-settings-checkbox + .MuiTypography-root {
  font-size: 0.9rem;
}
.time-settings-checkbox-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-left: 5px;
}

@media screen and (max-width: 600px) {
  .time-settings-container {
    flex-direction: column;
  }
  .time-settings-container > * {
    max-width: 100%;
  }
  .time-settings-age-container {
    margin: 20px 20px 0px 20px;
    width: 100%;
  }
}
