name: Clean Up Deployment Preview

on:
  pull_request:
    types: [closed]

jobs:
  clean-up-deployment:
    runs-on: ubuntu-latest
    steps:
    - name: Set up SSH key
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.SSH_KEY }}

    - name: Add known hosts
      run: |
        mkdir -p ~/.ssh
        ssh-keyscan -H dev.geolex.org >> ~/.ssh/known_hosts

    - name: Cleanup preview
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: dev.geolex.org
        username: deployuser
        key: ${{ secrets.SSH_KEY }}
        script: |
          PR_ID=${{ github.event.pull_request.number }}
          PREVIEW_DIR="/home/aaron/tsconline/pr-preview-${PR_ID}"
          if [ -d "$PREVIEW_DIR" ]; then
            cd $PREVIEW_DIR
            CONTAINER_NAME="pr-preview-${PR_ID}_pr-preview-run_1"
            if docker ps --filter "name=${CONTAINER_NAME}" | grep -q ${CONTAINER_NAME}; then
              echo "Container is running. Stopping and removing..."
              docker-compose -f docker-compose-preview.yml down --remove-orphans --volumes
            else
              echo "Container is not running. Proceeding with cleanup..."
            fi
            cd ..
            sudo rm -rf $PREVIEW_DIR
          else
            echo "Directory $PREVIEW_DIR does not exist. Skipping cleanup."
          fi
