name: Clean Up Deployment Preview

on:
  pull_request:
    types: [closed]

jobs:
  clean-up-deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Set up SSH key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}

      - name: Add known hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H dev.geolex.org >> ~/.ssh/known_hosts

      - name: Cleanup preview
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: dev.geolex.org
          username: deployuser
          key: ${{ secrets.SSH_KEY }}
          script: |
            PR_ID=${{ github.event.pull_request.number }}
            PREVIEW_DIR="/home/aaron/tsconline/pr-preview-${PR_ID}"
            if [ -d "$PREVIEW_DIR" ]; then
              cd $PREVIEW_DIR
              echo "Stopping and removing containers for PR preview ${PR_ID}..."
              docker-compose -f docker-compose-preview.yml down --remove-orphans --volumes --rmi all || true
              cd ..
              sudo rm -rf $PREVIEW_DIR
              echo "Successfully cleaned up PR preview ${PR_ID}"
            else
              echo "Directory $PREVIEW_DIR does not exist. Skipping cleanup."
            fi
