name: Update dev

on:
  push:
    branches:
      - TSC-227-add-ssh-to-update-dev-and-add-files-to-workflow

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up SSH key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}

      - name: Add known hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H dev.geolex.org >> ~/.ssh/known_hosts

      - name: Deploy to server
        run: |
          ssh deployuser@dev.geolex.org << 'EOF'
          cd /home/aaron/tsconline
          GIT_SSH_COMMAND="ssh -i /home/deployuser/.ssh/gh-geolex -o IdentitiesOnly=yes" git pull --no-edit
          docker-compose exec -T tsconline bash -c "source /root/.nvm/nvm.sh && nvm use node && yarn && yarn build"
          docker-compose up -d
          EOF